@import "./styles/defaults/colors";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults/fonts";

/*Overall website layout details*/
body {
    padding: 5% 10% 5% 10%;
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#index-body {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Homepage profile image*/
.profile-logo {
    max-width: 100;
    display: flex;
}

/*Homepage personal name layout*/
.name {
    font-size: 60px;
    font-weight: 900;
    
    .manoj-text {
        color: #09D0EF;
        font-family: $heading-font;
    }
    
    .kumar-text {
        color: #15A3C7;
        font-family: $heading-font;
    }

}

/*Homepage bio layout*/
.short-bio {
    font-family: $primary-font;
    font-size: larger;
    display: flex;

}

/*Highlighting text with a color*/
.span-background {
    background-color: $span-colour;
    padding: 5px;
}

/*Page links layout within the navigation bar*/
#nav-items {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 900;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #09D0EF;
    }

}

/*Portfolio page card layout*/
.portfolio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}

.portfolio-screenshot {
    border: 3px solid black;
    width: 80%;
    height: 50%;
    padding: 10px;
    margin: 10px;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

/*Blog homepage short post layout*/
.card-parent {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid red;
    border-radius: 20px;
    overflow:hidden; /*text won't go outside of the parent*/
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px black;
    transition: 0.5s;
}
