@import "./styles/defaults/colors";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";

body {
    margin: 20px;
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* Used in _header.scss
header {
    background-color: $primary-color;
    text-align: center;
    margin: 16px;
    
    img {
        width: 100px;
        height: 100px;
    }
}
*/

.name {
    font-size: 60px;
    font-weight: 900;
    
    .manoj-text {
        color: #09D0EF;
    }
    
    .kumar-text {
        color: #15A3C7;
    }

}
/*
.nav-background {
    background-color:$primary-background;
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
}
*/

#nav-items {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 900;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #09D0EF;
    }

}



.card-parent {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid red;
    border-radius: 20px;
    overflow:hidden; /*text won't go outside of the parent*/
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px black;
    transition: 0.5s;
}

/*header {
    padding:16px;
}*/