@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Noto+Sans:wght@100&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,500;1,100&display=swap");
header {
  background-color: white;
  text-align: center;
  align-items: center;
}
header img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.nav-background {
  background-color: #a5a5a5;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

@media screen and (min-width: 769px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.nav-background {
  background-color: #a5a5a5;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.nav-background {
  background-color: #a5a5a5;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

footer {
  background-color: white;
  padding: 16px;
  text-align: center;
}
footer .socials {
  justify-content: space-around;
  margin-bottom: 16px;
}
footer .socials a {
  font-size: 50px;
  text-decoration: none;
}

/*Overall website layout*/
body {
  padding: 5% 10% 5% 10%;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#index-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*Homepage profile image*/
.profile-logo {
  max-width: 100;
  display: flex;
}

/*Homepage personal name layout*/
.name {
  font-size: 60px;
  font-weight: 900;
}
.name .manoj-text {
  color: #09D0EF;
  font-family: Averia Serif Libre, serif;
}
.name .kumar-text {
  color: #15A3C7;
  font-family: Averia Serif Libre, serif;
}

/*Homepage bio layout*/
.short-bio {
  font-family: Roboto, sans-serif;
  font-size: larger;
  display: flex;
}

/*Highlighting text with a color*/
.span-background {
  background-color: #63c5da;
  padding: 5px;
}

/*Page links layout within the navigation bar*/
#nav-items {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 900;
}
#nav-items a {
  text-decoration: none;
  color: black;
}
#nav-items a:hover {
  color: #09D0EF;
}

/*Portfolio page card layout*/
.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.portfolio-screenshot {
  border: 3px solid black;
  width: 80%;
  height: 50%;
  padding: 10px;
  margin: 10px;
}
.portfolio-screenshot img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=index.css.map */