@import "../defaults/colors";
@import "../defaults/fonts";

/*Small navigation bar in About page (skills,experience,portfolio) layout*/
.second-nav-items-background {
    width: 200px;
    background-color: $secondary-background;
    margin:10px;

    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 900;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #09D0EF;
}
}

/*Page heading*/
.heading {
    font-family: $heading-font;
}

/*Page intro bio layout*/
.purpose-bio {
    font-family: $secondary-font;
    font-weight: 16px;
}