@import "../components/footer";
@import "../components/header";
@import "../defaults/breakpoints";
@import "../defaults/colors";
@import "../defaults/fonts";

/*Blog homepage layout*/
main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    /*Short blog post layout*/
    article {
        width:75%;
        border: 1px solid black;
        border-radius: 8px;
        margin: 10px 0px;
        overflow: hidden;
        text-align: center;
        background-color:$secondary-color;

        section {
            .blog-image {
               width: 50%;
               margin-top: 10px;
            }
        }

        /* Design for "Read the story" link */
        a {
            background-color: aquamarine;
            text-decoration: none;
            display: inline-block;
            padding: 15px 25px;
            margin: 5px;
        }
    }
}

/*Page intro bio layout*/
.purpose-bio {
    font-family: $primary-font;
}