@import "../components/footer";
@import "../components/header";
@import "../defaults/breakpoints";
@import "../defaults/colors";


main {
    display: flex;
    gap: 24px;
    
    article {
        border: 1px solid black;
        margin: 10px 0px;
        overflow: hidden;

        section {
            .blog-image {
                width: 300px;
            }
        }
    }
}