@import "../defaults/colors";
@import "../defaults/fonts";

.button {
    height: 50px;
    transition-duration: 0.4s;
    background-color:deepskyblue;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: $secondary-color;
    color:black;
  }

  .purpose-bio {
    font-family: $secondary-font;
  }

  .resume-heading {
    font-family: $secondary-font;
    color: $subheading-color;
    
  }

  .heading {
    font-family: $heading-font;
  }

  .second-nav-items-background {
    width: 200px;
    background-color: $secondary-background;
    margin:10px;

    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 900;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #09D0EF;
}
}