@import "../defaults/colors";
@import "../defaults/breakpoints";


header {
    background-color: $primary-color;
    text-align: center;
    margin: 16px;
    
    img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width:$medium) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .nav-background {
        background-color: $primary-background;
        width: 50%;
        padding: 10px;
        border-radius: 10px;
    }

}
