@import "../defaults/colors";
@import "../defaults/breakpoints";

/* Header styling across the website */
header {
    background-color: $primary-color;
    text-align: center;
    align-items: center;
    
    img {
        width: 100px;
        height: 100px;
    }
}
/* Mobile responsiveness */
@media screen and (min-width:$mobile) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;       
    }
}
/* Navigation bar layout across mobile */
.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}
/* Tablet responsiveness */
@media screen and (min-width:$tablet) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
/* Navigation bar across Tablet */
.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}
/* Desktop responsiveness */
@media screen and (min-width:$desktop) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
/* Navigation bar across desktop */
.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}
