@import "../defaults/colors";
@import "../defaults/breakpoints";


header {
    background-color: $primary-color;
    text-align: center;
    align-items: center;
    
    img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width:$mobile) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;       
    }
}

.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

@media screen and (min-width:$tablet) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

@media screen and (min-width:$desktop) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.nav-background {
    background-color: $primary-background;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}
